@font-face {
  font-family: "shabnam";
  src: url("../fonts/Shabnam-Medium.woff");
}
body {
  margin: 0;
  background-color: rgb(206, 206, 206);
}

.filtered-img {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0px 1px 5px #ccc;
}

figure {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.main-img {
  width: 100%;
  height: 0;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
  padding-bottom: 100%;
  transition: transform 0.2s ease-out;
  cursor: zoom-in;
}

.main-img img {
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  pointer-events: none;
  transition: transform 0.2s ease-out;
}

input[type="range"] {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  cursor: e-resize;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background-color: white;
  border: 1px solid gray;
  position: relative;
  border-radius: 50%;
}

.slider {
  background-color: #16c2d2;
  width: 100%;
  height: 16px;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  margin: 0 10px;
}

.slider__animate {
  width: 100%;
  height: 100%;
  background-color: rgb(192, 192, 192);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
